<section id="panels" class="fundo" onclick="clearInterval(intervalId);loadPage('/view/manage/panels.html')">
</section>


<section id="messages" class="relogio" onclick="clearInterval(intervalId);loadPage('/view/manage/messages.html')">

</section>

<script id="panel-template" type="text/html">
    <% if(title) { %>
    <section id="title">
        <p style="font-size: ${titleStyle.size}px; color: ${titleStyle.color};">
            ${title}
        </p>
    </section>
    <% } %>

    <% if(imageLink) { %>
        <img id="image" src="${imageLink}" class="${!title && !message ? 'fill-panel' : ''}"/>
    <% } %>

    <% if(message) { %>
    <section id="footer">
        <p style="font-size: ${messageStyle.size}px; color: ${messageStyle.color};">
            ${message}
        </p>
    </section>
    <% } %>
</script>

<script id="panel-weather" type="text/html">
    <ul class="weather">
        <% icons.forEach(function(icon) { %>
            <li class="${icon}"></li>
        <% }) %>
    </ul>
</script>

<script type="text/javascript">
    var rotators = [];

    var $msgs = $('#messages');



    function readLM35() {
        return $.get('/api/manage/temperature');
    }

    $.getJSON('/api/manage/messages').then(function (data) {

        var rotator;

        var messages = data.map(function (msg) {
            if (msg.content === 'date') {
                return Message(msg.timeOnScreen, false, function () {
                    $msgs.html(createDate());
                })
            }
            if (msg.content === 'time') {
                return Message(msg.timeOnScreen, true, function () {
                    $msgs.html(createTime());
                });
            }
            if (msg.content === 'lm35') {
                return Message(msg.timeOnScreen, false, function () {
                    return $.Deferred(function (def) {
                        readLM35()
                            .then(function (data) {
                                $msgs.html(data + "ºC");
                                def.resolve(data);
                            }, def.reject);
                    }).promise();
                });
            }

            var content = msg.content;
            var isStatic = msg.content.indexOf('static:') !== -1;
            return Message(isStatic ? msg.timeOnScreen : -1, false, function (tick) {
                if (isStatic !== -1) {
                    content = content.replace('static:', '');
                }
                $msgs.html('<div class="marquee">' + escapeHtml(content) + '</div>');
                if (!isStatic) {
                    $('.marquee')
                        .bind('finished', function () {
                            $(this).marquee('destroy');
                            rotator.nextMessage();
                        }).marquee({startVisible: false});
                }
            })
        });

        rotator = new MessageRotator(messages);
        rotators.push(rotator);
    });


    //------------------------------------------------
    var panelTemplate = _.template($('#panel-template').text());
    var weatherTemplate = _.template($('#panel-weather').text());
    var $panels = $('#panels');
    $.getJSON('/api/manage/panels').then(function (data) {
        var panels = data.map(function (msg) {
            return Message(msg.timeOnScreen, false, function () {
                $panels.css("background-color", msg.bgColor);

                var $title = $panels.find('#title').html('').hide();
                var $footer = $panels.find('#footer').html('').hide();

                if (msg.message.indexOf('pt:') != -1) {
                    return $.Deferred(function (def) {
                        $.get('/api/manage/clima-tempo?city='+ msg.message.substring(msg.message.indexOf(':')+1))
                            .then(function (data) {
                                data.icons = [];
                                switch (data.description) {
                                    case 'Poucas nuvens': {
                                        icons.push("icon-cloud", "icon-sunny");
                                        break;
                                    }
                                    case 'Muitas nuvens': {
                                        icons.push("icon-cloud");
                                        break;
                                    }
                                    case 'Alguma nebulosidade': {
                                        icons.push("icon-mist");
                                        break;
                                    }
                                    case 'Chuva': {
                                        icons.push("basecloud", "icon-rainy");
                                        break;
                                    }
                                    case 'Pancada de chuva': {
                                        icons.push("basecloud", "icon-drizzle icon-sunny");
                                        break;
                                    }
                                    case 'Céu encoberto': {
                                        icons.push("basecloud", "icon-hail");
                                        break;
                                    }
                                }
                                $panels.html(weatherTemplate(data));
                                def.resolve(data);
                            }, def.reject);
                    }).promise();
                }

                $panels.html(
                    panelTemplate({
                        title: escapeHtml(msg.title),
                        titleStyle: msg.titleStyle,
                        message: escapeHtml(msg.message),
                        messageStyle: msg.messageStyle,
                        imageLink: msg.containImage ? panelImageLink(msg.id) : ''
                    })
                );

                $('#image').height($panels.height() - $panels.find('#title').height() - $panels.find('#footer').height());
            })
        });
        rotators.push(new MessageRotator(panels));
    });

    var intervalId = setInterval(function () {
        rotators.forEach(function (r) {
            r.tick();
        });
        console.log('tick');
    }, 1000);

    $(window).on('resize', function () {
        ajustHeight($panels, $msgs);
    }).trigger('resize').on('keydown', function (e) {
        if (e.which === 32) {
            rotators.forEach(function (r) {
                r.togglePause();
            })
        }
    });
</script>
