<section id="panels" class="fundo" onclick="clearInterval(intervalId);loadPage('/view/manage/panels.html')">
    <i class="icon-sun"></i>
    <section id="title"></section>

    <img id="image" src="" alt="">

    <section id="footer"></section>
</section>


<section id="messages" class="relogio" onclick="clearInterval(intervalId);loadPage('/view/manage/messages.html')">

</section>

<script type="text/javascript">
    var rotators = [];

    var $msgs = $('#messages');

    function readLM35() {
        return $.get('/api/manage/temperature');
    }

    $.getJSON('/api/manage/messages').then(function (data) {

        var rotator;

        var messages = data.map(function (msg) {
            if (msg.content === 'date') {
                return Message(msg.timeOnScreen, false, function () {
                    $msgs.html(createDate());
                })
            }
            if (msg.content === 'time') {
                return Message(msg.timeOnScreen, true, function () {
                    $msgs.html(createTime());
                });
            }
            if (msg.content === 'lm35') {
                return Message(msg.timeOnScreen, false, function () {
                    return $.Deferred(function (def) {
                        readLM35()
                            .then(function (data) {
                                $msgs.html(data + "ºC");
                                def.resolve(data);
                            }, def.reject);
                    }).promise();
                });
            }

            var content = msg.content;
            var isStatic = msg.content.indexOf('static:') !== -1;
            return Message(isStatic ? msg.timeOnScreen : -1, false, function (tick) {
                if (isStatic !== -1) {
                    content = content.replace('static:', '');
                }
                $msgs.html('<div class="marquee">' + escapeHtml(content) + '</div>');
                if (!isStatic) {
                    $('.marquee')
                        .bind('finished', function () {
                            $(this).marquee('destroy');
                            rotator.nextMessage();
                        }).marquee({startVisible: false});
                }
            })
        });

        rotator = new MessageRotator(messages);
        rotators.push(rotator);
    });


    //------------------------------------------------
    var $panels = $('#panels');
    $.getJSON('/api/manage/panels').then(function (data) {
        var panels = data.map(function (msg) {
            return Message(msg.timeOnScreen, false, function () {
                $panels.css("background-color", msg.bgColor);

                var $title = $panels.find('#title').html('').hide();
                var $footer = $panels.find('#footer').html('').hide();
                var $img = $panels.find('#image').hide();
                var containTitle = msg.title.length > 0;
                var containMessage = msg.message.length > 0;

                if (msg.message.indexOf('pt:') != -1) {
                    return $.Deferred(function (def) {
                        $.get('/api/manage/clima-tempo?city='+ msg.message.substring(msg.message.indexOf(':')+1))
                            .then(function (data) {
                                var text = data.temperature + '  - ' + data.description;
                                $title.text(text).show();
                                def.resolve(data);
                            }, def.reject);
                    }).promise();
                }

                if (containTitle) {
                    $title.html('<p style="font-size: ' + msg.titleStyle.size + 'px; color: ' + msg.titleStyle.color + ';">' + escapeHtml(msg.title) + '</p>');
                    $title.show();
                }
                if (containMessage) {
                    $footer.html('<p style="font-size: ' + msg.messageStyle.size + 'px; color: ' + msg.messageStyle.color + ';">' + escapeHtml(msg.message) + '</p>');
                    $footer.show();
                }
                $img.removeClass('fill-panel').attr('src', msg.containImage ? panelImageLink(msg.id) : '').css('height', '');
                if (msg.containImage) {
                    $img.show();
                }
                if (!containTitle && !containMessage) {
                    $img.addClass('fill-panel');
                } else {
                    $img.height($panels.height() - $title.height() - $footer.height());
                }
            })
        });
        rotators.push(new MessageRotator(panels));
    });

    var intervalId = setInterval(function () {
        rotators.forEach(function (r) {
            r.tick();
        });
        console.log('tick');
    }, 1000);

    $(window).on('resize', function () {
        ajustHeight($panels, $msgs);
    }).trigger('resize').on('keydown', function (e) {
        if (e.which === 32) {
            rotators.forEach(function (r) {
                r.togglePause();
            })
        }
    });
</script>
