.container-fluid {
    padding: 0;
}

#panels,
#messages {
    width: 100%;
}

#panels {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    text-align: center;
}

#messages {
    border: none;
    margin-top: 10px;
}

#admin {
    text-align: right;
}

#title,
#footer {
    text-align: center;
}

#title p,
#footer p {
    margin: 0
}

#image {
    width: 100%;
}

.fill-panel {
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
}

hr {
    margin: 10px 0;
}

.manage-element {
    padding: 15px;
}

.top-options {
    margin-bottom: 10px;
}

.hide-overflow {
    max-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
}

.weather-container {
    margin-top: 20%;
    margin-top: 25vh;
}
.weather-container .weather {
    width: 165px;
}

/* Icons */

.weather {
    position: relative;
    list-style: none;
    display: inline-block;
}

.weather > li {
    position: absolute;
    list-style: none;
}

/* Tonhooo */

.fundo {
    width: 100%;
    box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.75);
}

.relogio {
    font-size: 7em;
    color: #444;
    padding: 10px;
    font-family: "DS-Digital", 'Helvetica Neue', sans-serif;
    background: whitesmoke;
    text-align: center;
    box-shadow: inset 0 -1px 14px -2px rgba(126, 126, 126, 0.75);
    white-space: nowrap;
    overflow: hidden;
    line-height: 100px;
}