.container-fluid {
    padding: 0;
}

#panels,
#messages {
    width: 100%;
}

#panels {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    text-align: center;
}

#messages {
    border: none;
    margin-top: 10px;
}

#admin {
    text-align: right;
}

#title,
#footer {
    text-align: center;
}

#title p,
#footer p {
    margin: 0
}

#image {
    width: 100%;
}

.fill-panel {
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
}

hr {
    margin: 10px 0;
}

.manage-element {
    padding: 15px;
}

.top-options {
    margin-bottom: 10px;
}

.hide-overflow {
    max-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
}

/* Tonhooo */
/*body, html {
    margin: 0px;
    background-color: #eeeeee;
    overflow: hidden;
}*/

.fundo {
    background: #414b66;
    width: 101%;
    /* display: table; */
    box-shadow: 0px 5px 20px -2px rgba(0, 0, 0, 0.75);
}

.imagem {
    background: white;
    height: 80%;
}

.imagem img {
    width: 100%;
    height: 100%;
}

.imagem img:hover {
    opacity: 0.9;
}

.relogio {
    font-size: 7em;
    color: #444;
    padding: 10px;
    font-family: "DS-Digital";
    background: whitesmoke;
    text-align: center;
    box-shadow: inset 0px -1px 14px -2px rgba(126, 126, 126, 0.75);
    white-space: nowrap;
    overflow: hidden;
    line-height: 100px;
}

